@import "settings.scss";

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$mainFont: "DM Sans", sans-serif;


h1 {
    font-size: em(42);
    letter-spacing: em(3);
    font-family: $mainFont;
    margin: 0;
    text-transform: uppercase;
  }


h2 {
    font-size: em(36);
    letter-spacing: em(1);
    font-family: $mainFont;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-size: em(24);
    letter-spacing: em(1);
    font-family: $mainFont;
    margin: 0;
    text-transform: uppercase;
}

h4 {
  font-size: em(16);
  letter-spacing: em(2);
  font-family: $mainFont;
  margin: 0;
  text-transform: uppercase;
}

h5 {
}

h6 {
}

p {
}

a {
}


@include respond-to(small) {

  }
@include respond-to(medium) {

  }
@include respond-to(large) {

  }
@include respond-to(xlarge) {

  }
@include respond-to(xxlarge) {

  }